__pycache__/
no_sync/
*.egg-info/
dist/

blastmappings/
blastresults/
combinedtables/
fastas/
histograms/
interactivetables/
names/
resulttables/
taxids/
trees/

attributes.txt
heatmap.html
heatmap_config.txt
heatmap_template.html
limits.txt
matrix.csv
proteinlist.txt
tree_config.txt
tree_to_prune.txt
